@model DefaultResult
@{
  Layout = "/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=EDGE' />
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="canonical" href="http://localhost:49955/advertenties/15">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/images/fav/android-icon-192x192.png">
    <meta name="apple-mobile-web-app-title" content="Gratis af te Halen">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <meta name="description" content="Geef jou spullen gratis weg en maak iemand blij. Weggooien is zonde." />


    <meta name="keywords" content="gratis,weggeven,aanbieden,spullen,zoeken,marktplaats,adverteren,voor niks,afhalen,af te halen,ophalen" />



    <meta property="fb:app_id" content="1290549030995390" />
    <meta property="og:site_name" content="Gratisaftehalen.nl" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Gratis af te halen" />
    <meta property="og:url" content="http://www.gratisaftehalen.nl" />
    <meta property="og:image" content="http://www.gratisaftehalen.nl/img/logo-fb.png" />
    <meta property="og:description" content="Gratis af te halen" />

    <meta name="robots" content="*">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/fav/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Page styles -->
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link async rel="stylesheet" href="/assets/css/vendors.css" />

    <title>Advertenties Gratis af te halen</title>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <link async rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto:100,200,300,400,500,600,700|Roboto+Condensed:300,400,700|Material+Icons" />
    <script>
        window.fbAsyncInit = function () { FB.init({ appId: '1290549030995390', xfbml: true, version: 'v2.8' }); };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-407992-2', 'auto'); ga('send', 'pageview');
    </script>


</head>
<body>
    <a href="#0" class="cd-top">Top</a>
    <div id="wrapper">
        <div class="header">
            <nav class="navbar   navbar-site navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Navigatie aan/uit</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand logo logo-title" rel="nofollow">
                            <img src="/assets/images/site/GATH_logo.png" height="52" alt="Logo" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/inloggen">Inloggen</a></li>
                            <li><a href="/registreren">Registreren</a></li>
                            <li class="postadd"><a class="btn btn-block  btn-border btn-post btn-danger" href="/plaats-een-advertentie">Plaats Advertentie</a></li>
                        </ul>

                    </div>

                </div>

            </nav>
        </div>
        <div class="main-container">






            <div class="container">
                <div class="row">
                    <div class="col-sm-3 page-sidebar mobile-filter-sidebar">
                        <aside>
                            <div class="inner-box">
                                <div class="categories-list list-filter">
                                    <h2 class="list-title"><strong><a href="/categorieen" title="Categorieën">Categorieën</a></strong></h2>
                                    <ul class="list-unstyled">

                                        <li>
                                            <a href="/categorie/antiek-en-kunst" title="Antiek en Kunst"><span class="title">Antiek en Kunst</span>&nbsp;<span class="count">&nbsp;23</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/audio-en-tv" title="Audio en TV"><span class="title">Audio en TV</span>&nbsp;<span class="count">&nbsp;4</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/boeken-en-tijdschriften" title="Boeken en tijdschriften"><span class="title">Boeken en tijdschriften</span>&nbsp;<span class="count">&nbsp;1</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/caravans-en-kamperen" title="Caravans en Kamperen"><span class="title">Caravans en Kamperen</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/cds-en-media" title="Cd&#x27;s en media"><span class="title">Cd&#x27;s en media</span>&nbsp;<span class="count">&nbsp;1</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/computers-en-software" title="Computers en Software"><span class="title">Computers en Software</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/dieren-en-toebehoren" title="Dieren en Toebehoren"><span class="title">Dieren en Toebehoren</span>&nbsp;<span class="count">&nbsp;1</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/doe-het-zelf" title="Doe-het-zelf"><span class="title">Doe-het-zelf</span>&nbsp;<span class="count">&nbsp;2</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/fietsen-en-brommers" title="Fietsen en Brommers"><span class="title">Fietsen en Brommers</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/foto-en-video" title="Foto en Video"><span class="title">Foto en Video</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/hobby-en-vrije-tijd" title="Hobby en Vrije tijd"><span class="title">Hobby en Vrije tijd</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/huis-en-inrichting" title="Huis en Inrichting"><span class="title">Huis en Inrichting</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/kinderen-en-babys" title="Kinderen en Baby&#x27;s"><span class="title">Kinderen en Baby&#x27;s</span>&nbsp;<span class="count">&nbsp;1</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/kleding-dames" title="Kleding Dames"><span class="title">Kleding Dames</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/kleding-heren" title="Kleding Heren"><span class="title">Kleding Heren</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/muziek-en-instrumenten" title="Muziek en Instrumenten"><span class="title">Muziek en Instrumenten</span>&nbsp;<span class="count">&nbsp;1</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/overig" title="Overig"><span class="title">Overig</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/postzegels-en-munten" title="Postzegels en Munten"><span class="title">Postzegels en Munten</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/sieraden-en-tassen" title="Sieraden en Tassen"><span class="title">Sieraden en Tassen</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/spelcomputers-en-games" title="Spelcomputers en Games"><span class="title">Spelcomputers en Games</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/sport" title="Sport"><span class="title">Sport</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/telefonie-en-communicatie" title="Telefonie en communicatie"><span class="title">Telefonie en communicatie</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/tuin-en-terras" title="Tuin en Terras"><span class="title">Tuin en Terras</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/vakantie" title="Vakantie"><span class="title">Vakantie</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/verzamelingen" title="Verzamelingen"><span class="title">Verzamelingen</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/watersport" title="Watersport"><span class="title">Watersport</span>&nbsp;<span class="count">&nbsp;0</span></a>
                                        </li>
                                        <li>
                                            <a href="/categorie/witgoed-en-apparatuur" title="Witgoed en Apparatuur"><span class="title">Witgoed en Apparatuur</span>&nbsp;<span class="count">&nbsp;1</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="list-filter">
                                    <h3 class="list-title"><strong>Pagina's</strong></h3>
                                    <ul class="browse-list list-unstyled">
                                        <li><a href="/" title="Gratisaftehalen.nl Startpagina">Startpagina</a></li>
                                        <li><a href="/advertenties" title="Alle advertenties"><strong>Alle advertenties</strong></a></li>
                                        <li><a href="/plaatsen" title="Plaatsen en gemeenten">Plaatsen en Steden</a></li>
                                        <li><a href="/categorieen" title="Categorieen">Categorieën</a></li>
                                        <li><a href="/meest-gezocht" title="Meest gezocht">Meest gezocht</a></li>
                                    </ul>
                                </div>
                                <div class="list-filter">
                                    <h3 class="list-title"><strong>Informatie</strong></h3>
                                    <ul class="browse-list list-unstyled">
                                        <li><a href="/contact" title="Neem contact met ons op">Contact</a></li>
                                        <li><a href="/links" title="Partners en interessante links">Links</a></li>
                                        <li><a href="/veelgestelde-vragen" title="Veelgestelde vragen">Veelgestelde vragen</a></li>
                                        <li><a href="/doneren" title="Donatie en sponsoring">Donatie</a></li>
                                        <li><a href="/nieuwsbrief" title="Inschrijven voor de nieuwsbrief">Nieuwsbrief</a></li>
                                    </ul>
                                </div>
                                <div style="clear:both"></div>
                            </div>

                        </aside>
                    </div>

                    <div class="col-sm-9 page-content col-thin-left">
                        <div class="category-list">
                            <div class="tab-box clearfix">
                                <div class="listing-filter">
                                    <div class="col-xs-12 mb5">
                                        <h1 class="mb0 pb0"><span style="display:inline-block">Gratis af te halen spullen - pagina 2</span><span class="pull-right text-right listing-view-action" style="display:inline-block"><span class="list-view active"><i class="icon-th"></i></span> <span class="compact-view"><i class="icon-th-list"></i></span> <span class="grid-view"><i class="icon-th-large"></i></span></span></h1>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>


                            </div>
                            <div class="adds-wrapper">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21996/rnwkenrkqwjnerkjqwnerkjnwqkejrnqwkjenr"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/cc99038fc1d14773b17753d7b19949b0/auto-leeg" alt="rnwkenrkqwjnerkjqwnerkjnwqkejrnqwkjenr"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 14 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="rnwkenrkqwjnerkjqwnerkjnwqkejrnqwkjenr"><a href="/advertentie/21996/rnwkenrkqwjnerkjqwnerkjnwqkejrnqwkjenr">rnwkenrkqwjnerkjqwnerkjnwqkejrnqwkjenr</a></h3>
                                                    <a href="/advertentie/21996/rnwkenrkqwjnerkjqwnerkjnwqkejrnqwkjenr">
                                                        <div class="jobs-desc"><p>wwerwerwerwerqwe</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div></div>
                                                <div>Vorden</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21994/lieve-hamster-zoekt-een-nieuw-thuis"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/8078ea9c0dce49fdadaa85be4f9d27a4/pratende uil.mp4" alt="Lieve hamster zoekt een nieuw thuis"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 14 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="Lieve hamster zoekt een nieuw thuis"><a href="/advertentie/21994/lieve-hamster-zoekt-een-nieuw-thuis">Lieve hamster zoekt een nieuw thuis</a></h3>
                                                    <a href="/advertentie/21994/lieve-hamster-zoekt-een-nieuw-thuis">
                                                        <div class="jobs-desc"><p>Dit beestje is al wat ouder, maar heel lief. Wil jij voor hem zorgen?</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div></div>
                                                <div>Amersfoort</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21993/gratis-poes"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/519ed65d14c14374aa8b95b49a9bb1b6/cat-body" alt="Gratis poes"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 12 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="Gratis poes"><a href="/advertentie/21993/gratis-poes">Gratis poes</a></h3>
                                                    <a href="/advertentie/21993/gratis-poes">
                                                        <div class="jobs-desc"><p>Moet vandaag weg!</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Pietjuh</div>
                                                <div>Vorden</div>
                                            </div>

                                        </div><div class="item-list make-list">

                                            <div class="cornerRibbons featured"> <span>Gereserveerd</span> </div>

                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21992/ad-via-mobiel"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/fe7923f6066b49c494bca8c8c79f6a9f/1476262803533-771903532" alt="Ad via mobiel"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 12 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="Ad via mobiel"><a href="/advertentie/21992/ad-via-mobiel">Ad via mobiel</a></h3>
                                                    <a href="/advertentie/21992/ad-via-mobiel">
                                                        <div class="jobs-desc"><p>Kijk dit werkt</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>TImS</div>
                                                <div>Vleuten</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21991/een-mooie-tafel-van-plastic"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/bb846ac4b64c4999991bd292d803a9ee/tafel" alt="Een mooie tafel van plastic"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 12 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="Een mooie tafel van plastic"><a href="/advertentie/21991/een-mooie-tafel-van-plastic">Een mooie tafel van plastic</a></h3>
                                                    <a href="/advertentie/21991/een-mooie-tafel-van-plastic">
                                                        <div class="jobs-desc"><p>Dit is een heel fijne tafel van een hele knappe man geweest (zie foto)</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Marcel01</div>
                                                <div>Uithoorn</div>
                                            </div>

                                        </div><div class="item-list make-list">

                                            <div class="cornerRibbons featured"> <span>Gereserveerd</span> </div>

                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21990/een-mooie-tafel-van-hout"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/a8252a23a30b4c79ac1acfa7c83e4fe2/tafel" alt="Een mooie tafel van hout"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 12 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="Een mooie tafel van hout"><a href="/advertentie/21990/een-mooie-tafel-van-hout">Een mooie tafel van hout</a></h3>
                                                    <a href="/advertentie/21990/een-mooie-tafel-van-hout">
                                                        <div class="jobs-desc"><p>Dit is een heel fijne tafel!</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Marcel01</div>
                                                <div>Uithoorn</div>
                                            </div>

                                        </div><div class="item-list make-list">

                                            <div class="cornerRibbons featured"> <span>Gereserveerd</span> </div>

                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21989/grote-image"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/2da63323985141e9990635f13a40846a/Les_Invalides_de_Paris_ceiling_huge" alt="GROTE IMAGE"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 12 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="GROTE IMAGE"><a href="/advertentie/21989/grote-image">GROTE IMAGE</a></h3>
                                                    <a href="/advertentie/21989/grote-image">
                                                        <div class="jobs-desc"><p>Lekker groot plaatje, wordt teruggebacht naar 1024x768</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>TImS</div>
                                                <div>Vleuten</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/21988/platenspeler-voor-nop"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="http://gath.cdn.ybookz.com/images/advertisements/400x400/82d8c85de2dd4ea19f52ede08b9f0a4b/8550384511e477a7ab3d5baa5983bdf5" alt="Platenspeler voor nop"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 12 oktober 2016 </span></div>
                                                    <h3 class="add-title" title="Platenspeler voor nop"><a href="/advertentie/21988/platenspeler-voor-nop">Platenspeler voor nop</a></h3>
                                                    <a href="/advertentie/21988/platenspeler-voor-nop">
                                                        <div class="jobs-desc"><p>Doet het nog prima</p></div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>TImS</div>
                                                <div>Vleuten</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/14/555555555555555555555555"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="555555555555555555555555"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 4 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="555555555555555555555555"><a href="/advertentie/14/555555555555555555555555">555555555555555555555555</a></h3>
                                                    <a href="/advertentie/14/555555555555555555555555">
                                                        <div class="jobs-desc">55555555555555555555555555</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/13/ertwertwertwertwerwerwer"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="ertwertwertwertwerwerwer"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 4 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="ertwertwertwertwerwerwer"><a href="/advertentie/13/ertwertwertwertwerwerwer">ertwertwertwertwerwerwer</a></h3>
                                                    <a href="/advertentie/13/ertwertwertwertwerwerwer">
                                                        <div class="jobs-desc">wertwertwertwertwertwertwert</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/12/345343453453453"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="345343453453453"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 3 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="345343453453453"><a href="/advertentie/12/345343453453453">345343453453453</a></h3>
                                                    <a href="/advertentie/12/345343453453453">
                                                        <div class="jobs-desc">34345345345345345345</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/11/yyyyyyyyyyyyyyyyyyyyyyyyyyyy"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="yyyyyyyyyyyyyyyyyyyyyyyyyyyy"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 3 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="yyyyyyyyyyyyyyyyyyyyyyyyyyyy"><a href="/advertentie/11/yyyyyyyyyyyyyyyyyyyyyyyyyyyy">yyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></h3>
                                                    <a href="/advertentie/11/yyyyyyyyyyyyyyyyyyyyyyyyyyyy">
                                                        <div class="jobs-desc">yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/10/yyyyyyyyyyyyyyyyyyyyyyyyyyyy"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="yyyyyyyyyyyyyyyyyyyyyyyyyyyy"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 3 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="yyyyyyyyyyyyyyyyyyyyyyyyyyyy"><a href="/advertentie/10/yyyyyyyyyyyyyyyyyyyyyyyyyyyy">yyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></h3>
                                                    <a href="/advertentie/10/yyyyyyyyyyyyyyyyyyyyyyyyyyyy">
                                                        <div class="jobs-desc">yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/9/4346345345634563456345634563456"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="4346345345634563456345634563456"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 3 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="4346345345634563456345634563456"><a href="/advertentie/9/4346345345634563456345634563456">4346345345634563456345634563456</a></h3>
                                                    <a href="/advertentie/9/4346345345634563456345634563456">
                                                        <div class="jobs-desc">34563456345634563456</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div><div class="item-list make-list">


                                            <div class="col-sm-2 no-padding photobox">
                                                <div class="add-image"><span class="photo-count"> </span> <a href="/advertentie/8/435634563456345634563"><img class="thumbnail no-margin" data-src-placeholder="/assets/images/no-image.png" src="/assets/images/no-image.png" alt="435634563456345634563"></a> </div>
                                            </div>

                                            <div class="col-sm-7 add-desc-box">
                                                <div class="add-details">
                                                    <div class="info-row" style="width:100%;"> <span class="date pull-right"><i class="icon-clock"> </i> 3 augustus 2016 </span></div>
                                                    <h3 class="add-title" title="435634563456345634563"><a href="/advertentie/8/435634563456345634563">435634563456345634563</a></h3>
                                                    <a href="/advertentie/8/435634563456345634563">
                                                        <div class="jobs-desc">34563456345634563456</div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 text-right price-box">
                                                <div>Rob Schoenaker</div>
                                                <div>VLEUTEN</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-bar text-center">
                            <ul class="pagination">
                                <li><a class="pagination-btn" href="/advertenties">« Vorige</a></li>
                                <li><a class="pagination-btn" href="/advertenties/30"> Volgende » </a></li>
                            </ul>
                        </div>
                        <div class="post-promo text-center">
                            <h2>Iets af te halen of weg te geven?</h2>
                            <h5>Plaats nu een advertentie. Supersimpel, supersnel en gratis.</h5>
                            <a class="btn btn-lg  btn-border btn-post btn-danger" href="/plaats-een-advertentie">Plaats Advertentie</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="page-bottom-info">
            <div class="page-bottom-info-inner">
                <div class="page-bottom-info-content text-center">
                    <h2>
                        <strong>Gratis spullen</strong> aanbieden via <strong><a class="normal" href="/marktplaats" title="Over de marktplaats">Marktplaats</a></strong> of<strong><a class="normal" href="/speurders" title="Wat is een speurder?">Speurders</a></strong>, maar niemand die het ophaalt?
                    </h2>
                    <p>
                        Word jij ook zo moe van al die bedrijven die hun spullen verkopen op de grootste advertentiewebsites van Nederland?
                        <br />Zogenaamd gratis spullen op Marktplaats die niet gratis blijken te zijn? Gek van addertjes onder het gras bij Speurders?
                        <br />Wij wel!
                    </p>

                    <p>Gratisaftehalen.nl is <strong>alleen voor particuliere adverteerders</strong> en altijd kosteloos.</p>
                    <p><strong>&quot; Gratis is het grote voordeel van Gratisaftehalen.nl.&quot; &middot; &quot; Alles gratis maar niks voor niets!&quot;</strong></p>
                </div>
            </div>
        </div>


        <div class="footer" id="footer">
            <div class="container">
                <p>
                    <strong>Gratisaftehalen.nl</strong> is de <strong>gratis marktplaats</strong> voor weggeven, ruilen en aanbieden van nieuwe en tweedehands spullen, producten en diensten.
                    Voor het gebruik van deze website zijn de <a href="/algemene-voorwaarden" target="_blank" title="" rel="nofollow"><strong>algemene voorwaarden</strong></a> van toepassing.
                </p>
                <ul class="pull-left navbar-link footer-nav">
                    <li>
                        <a href="/over-ons">Over ons</a>
                        <a href="/blog">Blog</a>
                        <a href="/privacybeleid">Privacybeleid</a>
                        <a href="/contact">Contact</a>
                        <a href="/veelgestelde-vragen">Veelgestelde vragen</a>
                        <!-- Begin MyStats.nl code -->
                        <a href="http://www.mystats.nl/stats/28920.html" target=_blank>
                            <img src="/assets/images/msicon.gif" alt="Website statistieken" height='15' width='15' border=0>
                        </a>
                        <script>
                            function mystats(framed, counter, domain, server, p) {
                                var rnd = Math.round(Math.random() * 100000);
                                if (framed) myref = document.referrer; else myref = top.document.referrer;
                                document.write('<img src="http://www.mystats.nl/cx/?c=' + counter + '&f=' + framed + '&random=' + rnd + '&dom=' + domain + '&r=' + escape(myref) +
                                '&p=' + escape(document.location) + p + '" height=1 width=1 border=0 nosave>');
                            }
                            mystats(0, 28920, 'gratisaftehalen', '2', ''); </script>
                        <noscript>
                            <img src="http://www2.mystats.nl/c/i/nojs?c=28920">
                            <a href="http://www.mystats.nl">Website statistieken</a>
                        </noscript>
                        <!-- Eind MyStats.nl code -->



                    </li>
                </ul>
                <ul class="pull-right navbar-link footer-nav"><li>&copy; 2016 Webcept Internet Consultancy</li></ul>
            </div>
        </div>



    </div>


</body>
</html>
