<div class="inner-box">
  <h2 class="title-2"><i class="icon-star-circled"></i> Zoekopdrachten </h2>
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group list-group-unstyle">
        <li class="list-group-item active">
          <a href="#" class="">
            <span> AMSUNG GALAXY MOBILE...</span>
            <span class="label label-warning">14+</span>
          </a> <span class="delete-search-result">×</span>
        </li>
        <li class="list-group-item ">
          <a href="#" class="">
            <span> AMSUNG GALAXY MOBILE...</span>
          </a>
        </li>
        <li class="list-group-item ">
          <a href="#" class="">
            <span> AMSUNG GALAXY MOBILE...</span>
          </a>
        </li>
        <li class="list-group-item ">
          <a href="#" class="">
            <span> AMSUNG GALAXY MOBILE...</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="adds-wrapper">
        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

        <div class="item-list">
          <div class="col-sm-2 no-padding photobox">
            <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a></div>
          </div>

          <div class="col-sm-8 add-desc-box">
            <div class="ads-details">
              <h5 class="add-title">
                <a href="ads-details.html">
                  SAMSUNG GALAXY S CORE
                  Duos
                </a>
              </h5>
              <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="" data-original-title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> New York </span> </span>
            </div>
          </div>

          <div class="col-sm-2 text-right text-center-xs price-box">
            <h4 class="item-price"> $ 230</h4>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>