<aside>
    <div class="inner-box">
        <div class="user-panel-sidebar">
            <div class="collapse-box">
                <a href="#homePanel" data-toggle="collapse"><h5 class="collapse-title no-border"><span data-bind="text: tt('settings')"></span><span class="pull-right"><i class="fa fa-angle-down"></i></span></h5></a>
                <div class="panel-collapse collapse in" id="homePanel">
                    <ul class="acc-list">
                        <!-- ko foreach: mainRoutes -->
                        <li data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }"><i data-bind="css: icon"></i>&nbsp;<span data-bind="text: title">&nbsp;</span></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
            <div class="collapse-box">
                <a href="#messagesPanel" data-toggle="collapse"><h5 class="collapse-title"><span data-bind="text: tt('messages')"></span><span class="pull-right"><i class="fa fa-angle-down"></i></span></h5></a>
                <div class="panel-collapse collapse in" id="messagesPanel">
                    <div data-bind="compose: 'viewmodels/conversations'">

                    </div>
                </div>
            </div>
            <div class="collapse-box">
                <a href="#advertisementsPanel" data-toggle="collapse"><h5 class="collapse-title"><span data-bind="text: tt('advertisements')"></span><span class="pull-right"><i class="fa fa-angle-down"></i></span></h5></a>
                <div class="panel-collapse collapse in" id="advertisementsPanel">
                    <ul class="acc-list">
                        <!-- ko foreach: advertisementRoutes -->
                        <li data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }"><i data-bind="css: icon"></i>&nbsp;<span data-bind="text: title"></span>&nbsp;<span class="badge" data-bind="text: badge"></span></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>

            <div class="collapse-box">
                <a href="#accountPanel" data-toggle="collapse"><h5 class="collapse-title"><span data-bind="text: tt('account')"></span><span class="pull-right"><i class="fa fa-angle-down"></i></span></h5></a>
                <div class="panel-collapse collapse out" id="accountPanel">
                    <ul class="acc-list">
                        <!-- ko foreach: managementRoutes -->
                        <li data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }"><i data-bind="css: icon"></i>&nbsp;<span data-bind="text: title">&nbsp;</span></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</aside>

