<div class="inner-box">
  <h2 class="title-2"><i class="icon-key"></i> <span data-bind="text: tt('displayName')"></span></h2>
  <form class="form-horizontal" role="form" action="~/api/account/upatepassword">
    <div data-bind="textinput : {valueField: newPassword, fieldName : 'newPassword', inputType: 'password', tt: tt}"></div>
    <div data-bind="textinput : {valueField: repeatPassword, fieldName : 'repeatPassword', inputType: 'password', tt: tt}"></div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button  class="btn btn-primary" data-bind="text: ttg('updateButton'), command: saveCommand"></button>
      </div>
    </div>
  </form>
</div>
